@media only screen and (max-height: 600px) {
  #home {
    height: 160vh;
  }
}
@media only screen and (max-height: 750px) {
  #home {
    height: 140vh;
  }
}
@media only screen and (min-width: 1024px) {
  #home {
    height: 100vh;
  }
}
@media only screen and (min-width: 991px) {
  .moto {
    display: flex;
    align-items: center;
  }
  .motoConatiner {
    margin-top: -10%;
  }
}
